.div {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  
}

input {
  outline-color:rgb(193, 97, 65) ;
  color: rgb(193, 97, 65);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 10px;
  border: 2px solid darksalmon;
  border-radius: 30px;
}
.text {
position:relative;
left: 100px;
  font-weight: 700;
  font-size: larger;
}

.search{background-color: darksalmon;
color: white;
margin-left:10px;
}

.search:hover {

  cursor: pointer;
  background-color: rgb(193, 97, 65) ;
border:none;
  transition: all 0.1s ease-out;
}