.display {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  background-color: lavenderblush;
  width: 50px 50px;
  margin: 25px 400px 0px;
  height: 300px;
  color:darksalmon;
  border:2px solid darksalmon;
  border-radius: 30px;
  
}

input {
  outline-color:rgb(193, 97, 65) ;
  color: rgb(193, 97, 65);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 10px;
  border: 2px solid darksalmon;
  border-radius: 30px;
}
.text {
  
  text-align:center;
  font-weight: 700;
  font-size: 20px;
}

ul{
  padding-left:0px;
  list-style:none;}

.search{background-color: darksalmon;
color: white;
margin-left:10px;
}

.search:hover {

  cursor: pointer;
  background-color: rgb(193, 97, 65) ;
border:none;
  transition: all 0.1s ease-out;
}

